<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageSize</key>
	<integer>256</integer>
	<key>refreshInterval</key>
	<integer>300</integer>
	<key>automaticRefresh</key>
	<true/>
	<key>firstLaunch</key>
	<true/>
	<key>images</key>
	<array>
		<dict>
			<key>uuid</key>
			<string>46BD849E-4840-4BE8-ADF1-7976BA52EEAA</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>D3ECCF39-6EFE-4148-BCAD-02181E9B66FA</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>88665DF7-4565-433B-B7D3-230157FD5027</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>9B0D7501-8448-4487-8C39-57B0578286AB</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>33EB35C5-5652-45A4-A16C-0CE9BE8436A3</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>DF11BB5E-ED8F-433F-BE75-26DC0094DAAB</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>9B095D28-F7F9-4F14-97DD-23ED67222D8D</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>FDB67CD7-0970-4503-9BA6-C41317F9B896</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>4DC4D33A-C46E-4FFC-8BEE-62C139762508</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>3D11B74A-A222-4368-8416-4AC630DACE6D</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>E9178963-202A-4826-B2D1-64DC01029C06</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>60CE7AB0-3030-4956-89E6-36EBDC01E250</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>A92C8CB6-6F7F-4B0C-B516-B980DA923C1B</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>492F2A11-8766-4EC7-B79D-C59939210765</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>0FE74086-89D9-498A-BC02-11B4CF2AECDD</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>6FF89A11-7495-4F16-B1FF-5D5E722BA1DA</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>36AFB08B-100A-45F2-9502-DBBB28C0F877</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>C5D4F40B-F428-4C3D-857C-3F0719FC89E7</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>8EFD8ECA-2CF7-485F-A189-1AB1A391B892</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>106DCB48-CFDD-4F1E-B1C4-10DCA625742E</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>9A0134F9-E7C1-4CF5-91EF-D3154EB692452</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>34622904-5349-4D22-A10F-0605BEE52DC0</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>6A86AFE6-A331-4DF1-96B4-C53299A8A487</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>838E08FE-ECC2-4DAC-9C3E-5D2CD2DDCBFD</string>
			<key>display</key>
			<true/>
		</dict>
		<dict>
			<key>uuid</key>
			<string>4B964800-BE80-4EFB-A331-A8E5A134D0B1</string>
			<key>display</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
